/* Estilos globales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav li {
    margin-right: 1rem;
}

header nav li:last-child {
    margin-right: 0;
}

header nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

header nav a:hover {
    background-color: #fff;
    color: #333;
}

/* Estilos de las secciones */
section {
    padding: 2rem;
    margin: 2rem 0;
    background-color: #f2f2f2;
    border-radius: 0.5rem;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

section p {
    margin-bottom: 1rem;
}

/* Estilos del formulario de contacto */
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

form label {
    margin-bottom: 0.5rem;
}

form input,
form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #fff;
    color: #333;
}

#about-me img{
    float: left; 
    margin-right: 20px;
    width: 300px;
}

#about-me div{
    width: calc(100% - 220px);
    float: none;
}

.contenidoPagina {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 100px;
	margin-top: 50px;
}
  
.objeto {
	position: relative;
	width: 300px;
	height: 400px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}
  
.objeto:hover img {
	filter: blur(10px);
	transition: all 0.5s ease-in-out;
}
  
.objeto:hover .texto {
	opacity: 1;
	transform: translateY(0);
	transition: all 0.5s ease-in-out;
}
  
.objeto img {
	position: absolute;
	top: 0;
	left: 0;
    padding: 10px;
	width: 100%;
	object-fit: cover;
}
  
.objeto .texto {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 20px;
	opacity: 0;
	transform: translateY(100%);
	transition: all 0.5s ease-in-out;
	justify-content: center;
	align-items: center;
}
  
.objeto h2 {
	font-size: 24px;
	margin-bottom: 10px;
}
  
.objeto p {
	font-size: 16px;
	line-height: 1.5;
}