*{
    
}

body{
    padding: 30px 5%;
    background-color: #252532;
    font-family: 'Open Sans Light', sans-serif;
}

/* ----------------- ESTILOS MENU ----------------- */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    height: 60px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-left: 25px;
    margin-right: 5px;
}

nav a:hover {
    color: #68d2df;
}

#special-text {
    background-color: #68d2df;
    padding: 10px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-right: 40px;
    flex-grow: 0;
    text-align: right;
    border-radius: 0.4em;
}

#special-text:hover {
    background-color: #3e6c79;
    color: #000000;
    transition: 0.3s;
}

#right-elements {
    display: flex;
    align-items: center;
}

nav #square-image{
    width: 55px;
}

/* ----------------- ESTILOS MAIN ----------------- */

#main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
  }
  
.text-container {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: left;
    margin-left: 100px;
}

.text-container>h2{
    margin-bottom: 5px;
    font-size: 30px;
}

.text-container>h3{
    margin-top: 5px;
}
  
.image-container img {
    max-height: 700px;
}


/* ----------------- ESTILOS ABOUT ME ----------------- */

.contenedor{
    display: flex;
    margin: 10%;
}

.contenedor img{
    border: #fff solid 1px;
    width: 50%;
    margin-right: 7%;
    
}

.contenedor div{
    text-align: left;
    width: 30%;
    color: #fff;
}

.contenedor button {
    margin-top: 100%;
    background-color: #68d2df;
    padding: 20px 10px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    border-radius: 0.4em;
}

.contenedor button:hover {
    background-color: #3e6c79;
    color: #000000;
    transition: 0.3s;
}



/* ----------------- ESTILOS SKILLS ----------------- */


#skills{
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background: url('../multimedia/img/fondoMinecraft.jpg') no-repeat center center fixed;
    border: #fff solid 1px;
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
}




#cartas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 60px 0;
}

#carta{
    padding: 10px 40px;
    background-color: rgba(217, 217, 217, 0.5);
    backdrop-filter: blur(10px); /* Aplica un filtro de desenfoque al fondo detrás del objeto */
    border-radius: 0.5em;
    border: #fff solid 1px;
    color: #000000;
    width: 170px;
    margin: 0 50px; 
}

#carta img{
    width: 150px;
}

#carta h4{
    margin-bottom: 5px;
}

#carta p{
    margin-top: 5px;
}

#more-projects{
    background-color: #68d2df;
    padding: 10px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    flex-grow: 0;
    border-radius: 0.4em;
    margin-top: 40px;
}


/* ----------------- ESTILOS FOLLOW ME ----------------- */

#followMe {
    margin-top: 100px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
  
#followMe img {
    width: 50px;
    height: 50px;
    margin: 60px;
    border-radius: 1em;
}

/* ----------------- ESTILOS FOOTER ----------------- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
  
.footer-left {
    flex: 1;
}
  
.footer-right {
    display: flex;
}

.language-buttons {
    display: flex;
    justify-content: flex-end;
}
  
.language-buttons button {
    margin-left: 10px;
    padding: 0;
    width: 40px;
    height: 30px;
    line-height: 0;
}
  
.language-buttons button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
  