*{
    /*border: #fff solid 1px;*/
}

body{
    padding: 30px 5%;
    background-color: #252532;
    font-family: 'Open Sans Light', sans-serif;
}

/* ----------------- ESTILOS MENU ----------------- */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    height: 60px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-left: 25px;
    margin-right: 5px;
}

nav a:hover {
    color: #68d2df;
}

#special-text {
    background-color: #68d2df;
    padding: 10px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-right: 40px;
    flex-grow: 0;
    text-align: right;
    border-radius: 0.4em;
}

#special-text:hover {
    background-color: #3e6c79;
    color: #000000;
    transition: 0.3s;
}

#right-elements {
    display: flex;
    align-items: center;
}

nav #square-image{
    width: 55px;
}  

/* ----------------- ESTILOS INFO PROJECTS ----------------- */

#infoProyecto{
    margin-top: 5%;
    color: #fff;
    text-align: center;
}


#infoProyecto h2{
    font-size: 30px;
}

#infoProyecto h5{
    font-size: 15px;
}

#infoProyecto h3{
    margin-top: 9%;
    font-size: 25px;
}

.contenedor{
    margin-top: 5%;
    justify-content: center;
    display: flex;
}

.contenedor>img{
    border: #fff solid 1px;
    width: 30%;
    margin-right: 2.5%;
}

.contenedor>div{
    margin-right: 2.5%;
}

.contenedor>div>h4{
    font-size: 20px;
}

#infoProyecto>button {
    background-color: #68d2df;
    padding: 20px 10px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    border-radius: 0.4em;
}

#infoProyecto>button:hover {
    background-color: #3e6c79;
    color: #000000;
    transition: 0.3s;
}


/* ----------------- ESTILOS FOLLOW ME ----------------- */

#followMe {
    margin-top: 100px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
  
#followMe img {
    width: 50px;
    height: 50px;
    margin: 60px;
    border-radius: 1em;
}

/* ----------------- ESTILOS FOOTER ----------------- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
  
.footer-left {
    flex: 1;
}
  
.footer-right {
    display: flex;
}

.language-buttons {
    display: flex;
    justify-content: flex-end;
}
  
.language-buttons button {
    margin-left: 10px;
    padding: 0;
    width: 40px;
    height: 30px;
    line-height: 0;
}
  
.language-buttons button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
  